<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory MGMT</title>
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body ng-app="stockpile" ng-controller="InventoryCtrl as item">
  <div class="top-bar">
    <div class="container">
      <!-- <span class="top-bar__brand">Stockpile</span> -->
      <h1 class="top-bar__brand-application">Inventory Management</h1>
    </div>
  </div>
  <div class="container">
    <div id="toolbar-wrapper">
      <!-- Input area for adding new inventory -->
      <h1>Add Inventory Item</h1>
      <form class="toolbar__form" ng-submit="item.addInventoryItem()" ng-click="item.addInventoryItem()">
        <!-- Input fields -->
        <span>Item Name</span>
        <input type="text" name="itemName" ng-model="item.clothing.name" required>

        <span>Item Color</span>
        <input type="text" name="itemColor" ng-model="item.clothing.color">

        <span>Item Condition</span>
        <select name="itemCondition" id="item-condition" ng-model="item.clothing.condition">
          <option value="new">New</option>
          <option value="likeNew">Like New</option>
          <option value="gentlyUsed">Gently Used</option>
        </select>

        <span>Item Price ($)</span>
        <input type="text" name="itemPrice" ng-model="item.clothing.price">

        <input type="submit" id="submit" value="Submit" />
      </form>
    </div>
    <!-- Inventory Table -->
    <div id="inventory-wrapper">
      <table class="table table-striped table-hover">
        <tr>
          <th>SKU</th>
          <th>Item Name</th>
          <th>Item Color</th>
          <th>Item Condition</th>
          <th>Price</th>
        </tr>
        <tr ng-repeat="clothing in item.clothing">
          <td>{{ clothing.id }}</td>
          <td>{{ clothing.name }}</td>
          <td>{{ clothing.color }}</td>
          <td>{{ clothing.condition }}</td>
          <td>{{ '$' + clothing.price }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div ui-view></div>

<!-- script dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
<script src="../node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>

<script src="common/services.js"></script>
<script src="app/stockpile.js"></script>
<script src="app/inventory/inventory.js"></script>
</body>
</html>